<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}DevOps Quiz{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
  <nav class="topbar">
    <div class="topbar-inner">
      <a class="brand" href="/">DevOps Quiz</a>

      <div class="topbar-links">
        <a href="/">Home</a>
        <a href="/ranking">Ranking</a>

        {% if session.get("user_id") %}
          <a href="/account">My Account</a>
          <a href="/logout">Logout</a>
        {% else %}
          <a href="/login">Login</a>
          <a href="/register">Register</a>
        {% endif %}
      </div>
    </div>
  </nav>

  {% block content %}{% endblock %}
</body>
</html>